html
{
    font-size: 14px;
}


main
{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

nav
{
    position: fixed;
    top: 5;
    width: 100%;
    height: 5em;
    text-align: center;
    background-color: #000024;
    border: none;
    border-bottom: 2px solid #000000;
}

input
{
    vertical-align: middle;
    height: 2.5em;
    width: 75%;
    border: none;
}

select
{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-left: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
    width: 10%;
}

input[type="text"]
{
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

input[type="image"]
{
    height: 4em;
    width: auto;
    text-align: right;
}

input:nth-child(3)
{
    padding-right: 1em;
    border: 1px solid rgb(208, 94, 0);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: rgb(255, 145, 19);
    width: 5%;
}

footer
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background-color: grey;
}

